@define-color selected-text #cba6f7;
@define-color text #cdd6f4;
@define-color base #11111b;
@define-color border #a6e3a1;
@define-color foreground #cdd6f4;
@define-color background #11111b;

#window {
  border-radius: 8px;
}

#window > #box,
#box {
  border-radius: 8px;
}

#search,
.search,
#tray #search,
#tray .search {
  border-radius: 8px;
}

#bar,
.bar {
  border-radius: 8px;
}

#scroll,
.scroll {
  border-radius: 8px;
}

#list,
.list {
  border-radius: 8px;
}

#item,
.item {
  border-radius: 8px;
}

#item:hover,
.item:hover {
  border-radius: 8px;
}

#item:selected,
.item:selected,
#item:focus,
.item:focus,
#item:checked,
.item:checked {
  border-radius: 8px;
}

scrollbar slider {
  border-radius: 8px;
}

scrollbar trough {
  border-radius: 8px;
}
